In [1]:
import numpy as np
import pandas as pd
import json
#!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium
print('Libraries imported')

Libraries imported

#### Extract the content from the link and specify to extract the first item (table) and save it as you want

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[0]
print(df)
df.to_csv('toronto_data.csv')

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

[180 rows x 3 columns]

#### Read and show csv file

In [16]:
df_toronto = pd.read_csv('toronto_data.csv')

In [17]:
df_toronto.head()

   Unnamed: 0 Postal Code           Borough              Neighbourhood
0           0         M1A      Not assigned               Not assigned
1           1         M2A      Not assigned               Not assigned
2           2         M3A        North York                  Parkwoods
3           3         M4A        North York           Victoria Village
4           4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Drop Unnamed: 0 column and clear all rows which are assigned a "Not Assigned" value in Borough column

In [18]:
df_toronto = df_toronto.drop(['Unnamed: 0'], axis=1)

In [31]:
df_toronto = df_toronto[df_toronto.Borough != 'Not assigned']

In [28]:
df_toronto = df_toronto.reset_index()

In [29]:
df_toronto = df_toronto.drop(['index'], axis=1)

In [32]:
df_toronto.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government